<ul>
  <% @list_items.each do |item| %>
  <li>
    <%= link_to item.keywords, list_item_path(item) %>
    <% if item.find_items_by_keyword.length > 0 %>
      - Available items!
    <% end %>
  </li>
  <% end %>
</ul>
